body {
  background-color: #dae3f1;
  font-family: 'Roboto', sans-serif;
}

#App {
  background-color: #dae3f1;
}

#App-header {
  text-align: center;
  background-color: #3F69AA;
  padding: 20px;
  color: white;
}

#App-window {
  background-color: #FFFFFF;
  padding: 10px;
  margin: 20px;
}

#App-info {
  font-size: large;
  padding: 20px;
  margin: 20px;
}

#Button-bar {
  margin: 10px;
}

form {
  font-family: 'Roboto', sans-serif;
}

label {
  font-family: 'Roboto', sans-serif;
}

button {
  background-color: #3F69AA;
  color: white;
  font-family: 'Roboto', sans-serif;
}

label textarea{
  vertical-align: top;
}

textarea {
  font-size: 15;
  font-family: "Roboto";
  margin: 5px;

  background-color: #ecf1f8;
}

input {
  font-size: 15;
  font-family: "Roboto";
  margin: 5px;

  background-color: #ecf1f8;
}

th,td {
  border-collapse: collapse;
  border: 1px solid #152238;
}

table {
  border-collapse: collapse;
  border: 1px solid #152238;

  background-color: #ecf1f8;

  table-layout: auto;  

  margin: 10px;
  padding: 10px;
  width: 80%;  
}

.Collapsible {
  background-color: #3F69AA;
  text-align: left;
  padding: 5px;
  margin: 10px;
}

.Collapsible__trigger {
  background-color: #3F69AA;
  color: white;
}

.Collapsible__contentOuter {
  background-color: #dae3f1;
}

.Collapsible__contentInner {
  background-color: #dae3f1;
  overflow:scroll;
}